:root {
  --waline-font-size: 1.6rem;
  --waline-theme-color: #78b2ca;
  --waline-active-color: #94cae1;

  .wl-card {
    padding-bottom: 0;
    border-bottom: 1px solid #f0f0f0;

    .wl-like, .wl-reply {
      svg {
        width: 20px;
        height: 20px;
      }
    }
  }

  .wl-editor {
    padding: 1em;
    width: calc(100% - 3em);
  }

  .wl-btn {
    border-radius: 2px;
  }

  .wl-header {
    background: #414141;
    border-bottom: none;

    label {
      color: #fff;
    }

    .wl-input {
      color: #fff;

      &:focus {
        background: #4f4f4f;
      }
    }
  }
}
